:root {
  --boxSizeRow: 8;
  --boxSizeColumn: 8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  background-color:#969696;
}

.board {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  background-color: #BBBBBB;
  border-left: 4px solid #D3D3D3;
  border-top: 4px solid #D3D3D3;
  border-right: 4px solid #A9A9A9;
  border-bottom: 4px solid #A9A9A9;
}

.infoContainer {
  display: flex;
  height: 50px;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  background-color: #BBB;
  border-right: 4px solid #D3D3D3;
  border-bottom: 4px solid #D3D3D3;
  border-left: 4px solid #A9A9A9;
  border-top: 4px solid #A9A9A9;
}

.facesButton {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 4px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  background-color: #BBBBBB;
  border-left: 4px solid #D3D3D3;
  border-top: 4px solid #D3D3D3;
  border-right: 4px solid #A9A9A9;
  border-bottom: 4px solid #A9A9A9;
  user-select: none;
}

.facesButton:active {
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #A9A9A9;
  border-bottom: 2px solid #A9A9A9;
}

.boardContainer {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(var(--boxSizeColumn), 1fr);
  grid-template-rows: repeat(var(--boxSizeRow), 1fr);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #BBB;
  border-right: 4px solid #D3D3D3;
  border-bottom: 4px solid #D3D3D3;
  border-left: 4px solid #A9A9A9;
  border-top: 4px solid #A9A9A9;
}

.box {
  display: flex;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: #BBBBBB;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #A9A9A9;
  border-bottom: 2px solid #A9A9A9;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.open {
  background-color: #BBBBBB;
  border-right: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
  border-left: 2px solid #A9A9A9;
  border-top: 2px solid #A9A9A9;
}

.flag {
  background-image: url("images/flag.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mine, .detonatedMine {
  background-image: url("images/mine.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.detonatedMine {
  background-color: red;
}

.wrongMine {
  background-image: url("images/wrongMine.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.number1 {
  color: #0000ff;
}

.number2 {
  color: #00ff00;
}

.number3 {
  color: #ff0000;
}

.number4 {
  color: #007bff;
}

.number5 {
  color: #7bff00;
}

.number6 {
  color: #ff7b00;
}

.number7 {
  color: #00007b;
}

.number8 {
  color: #ff00ff;
}

.textInfo {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  user-select: none;
}