:root {
  --boxSizeRow: 8;
  --boxSizeColumn: 8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html, body{
  width: 100vw;
  height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#969696;
}

#game {
  top: 10px;
  left: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  height: auto;
  max-width: 230px;
  background-color: #BBBBBB;
  border-left: 4px solid #D3D3D3;
  border-top: 4px solid #D3D3D3;
  border-right: 4px solid #A9A9A9;
  border-bottom: 4px solid #A9A9A9;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.levelSelector,
.personalized,
.mode {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #BBBBBB;
  border-left: 4px solid #D3D3D3;
  border-top: 4px solid #D3D3D3;
  border-right: 4px solid #A9A9A9;
  border-bottom: 4px solid #A9A9A9;
  cursor: pointer;
}

.levelSelector:active,
.personalized:active,
.mode:active {
  border-right: 4px solid #D3D3D3;
  border-bottom: 4px solid #D3D3D3;
  border-left: 4px solid #A9A9A9;
  border-top: 4px solid #A9A9A9;
}

.levelSelector {
  background-image: url("images/meter_levels.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

#meter_arrow {
  display: flex;
  position: relative;
  width: 21px;
  height: 21px;
  top: 16px;
  left: 8px;
  background-image: url("images/meter_arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  transform: rotate(-80deg);
}

.personalized {
  background-image: url("images/personalized.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

.random {
  background-image: url("images/random.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

.saveMode {
  background-image: url("images/shield.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

.board {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  background-color: #BBBBBB;
  border-left: 4px solid #D3D3D3;
  border-top: 4px solid #D3D3D3;
  border-right: 4px solid #A9A9A9;
  border-bottom: 4px solid #A9A9A9;
}

.infoContainer {
  display: flex;
  height: 50px;
  min-width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #BBB;
  border-right: 4px solid #D3D3D3;
  border-bottom: 4px solid #D3D3D3;
  border-left: 4px solid #A9A9A9;
  border-top: 4px solid #A9A9A9;
}

.infoDigital {
  display:flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  width: 80px;
  padding: 2px;
  background-color: rgb(127, 127, 127);
  font-size: small;
  font-weight: bold;
}

.facesButton {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 4px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  background-color: #BBBBBB;
  border-left: 4px solid #D3D3D3;
  border-top: 4px solid #D3D3D3;
  border-right: 4px solid #A9A9A9;
  border-bottom: 4px solid #A9A9A9;
  cursor: pointer;
}

.facesButton:active {
  border-right: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
  border-left: 2px solid #A9A9A9;
  border-top: 2px solid #A9A9A9;
}

.boardContainer {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(var(--boxSizeColumn), 1fr);
  grid-template-rows: repeat(var(--boxSizeRow), 1fr);
  min-width: auto;
  min-height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #BBB;
  border-right: 4px solid #D3D3D3;
  border-bottom: 4px solid #D3D3D3;
  border-left: 4px solid #A9A9A9;
  border-top: 4px solid #A9A9A9;
}

.box {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #BBBBBB;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  border-right: 2px solid #A9A9A9;
  border-bottom: 2px solid #A9A9A9;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.open {
  background-color: #BBBBBB;
  border-right: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
  border-left: 2px solid #A9A9A9;
  border-top: 2px solid #A9A9A9;
  cursor: context-menu;
}

.flag {
  background-image: url("images/flag1.png");
  background-repeat: no-repeat;
  background-size: cover; 
}

.flag img {
  width: 100%;
  height: 100%;
}

.mine, .detonatedMine {
  background-image: url("images/mine1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.detonatedMine {
  background-color: red;
}

.wrongMine {
  background-image: url("images/wrongMine1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.number1 {
  color: #0000ff;
}

.number2 {
  color: #00ff00;
}

.number3 {
  color: #ff0000;
}

.number4 {
  color: #007bff;
}

.number5 {
  color: #7bff00;
}

.number6 {
  color: #ff7b00;
}

.number7 {
  color: #00007b;
}

.number8 {
  color: #ff00ff;
}

.textInfo {
  display: flex;
  width: 100%;
  height: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.customMenuContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "textWidth inputWidth"
  "textHeight inputHeight"
  "textMines inputMines"
  "verificatorContainer verificatorContainer";
  width: 250px;
  height: 300px;
  padding: 20px;
  background-color: #BBBBBB;
  border-left: 4px solid #D3D3D3;
  border-top: 4px solid #D3D3D3;
  border-right: 4px solid #A9A9A9;
  border-bottom: 4px solid #A9A9A9;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.textWidth {
  grid-area: textWidth;
}

.inputWidth {
  grid-area: inputWidth;
  width: 80px;
}

.textHeight {
  grid-area: textHeight;
}

.inputHeight {
  grid-area: inputHeight;
  width: 80px;
}

.textMines {
  grid-area: textMines;
}

.inputMines {
  grid-area: inputMines;
  width: 80px;
}

.verificatorContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  grid-area: verificatorContainer;
}

.verificatorContainer button {
  width: 60px;
  height: 30px;
  justify-content: center;
  background-color: #BBBBBB;
  border-left: 4px solid #D3D3D3;
  border-top: 4px solid #D3D3D3;
  border-right: 4px solid #A9A9A9;
  border-bottom: 4px solid #A9A9A9;
  user-select: none;
}

.verificatorContainer button:active {
  border-right: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
  border-left: 2px solid #A9A9A9;
  border-top: 2px solid #A9A9A9;
}